# Configuraciones de la Base de Datos (PostgreSQL)
POSTGRES_DB=frigodb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

# Configuración del Backend y Seguridad
SECRET_KEY=super_secret_jwt_key_123456789_je
CORS_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:5173

# Servicios
REDIS_URL=redis://redis:6379/0

# Datos de la Empresa para los Comprobantes (Facturas/Remitos)
EMPRESA_NOMBRE=FRIGORIFICO DE CERDO J&E
EMPRESA_CUIT=30-71543210-9
EMPRESA_DIRECCION=Av. Circunvalación N° 4500, Córdoba, Argentina
EMPRESA_TELEFONO=+5493512345678
EMPRESA_EMAIL=contacto@frigorificoje.com.ar
